body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgb(32, 32, 32);
}
h1 {
	font-size: 20vw;
}

.letter {
	transition: color 600ms ease-in-out;
}
